@model Mvc_Projem.Views.Test.Test2

@{
ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>
        Burası 2. Test Sayfasıdır
    </title>
</head>
<body>
<div>
    Burası 2. Test Sayfasıdır
</div>
</body>
</html>